.home-no-history
	padding 1.2em
	margin 11.15em 0
	&>h1
		margin 1rem 0
		font-size 50px
	&>h2
		margin 1rem 0
.home-no-history__aside
	padding 1.2em
	margin 11.15em 0
	&>h3
		margin 1rem 0
	&>h4
		margin 1rem 0