.perfil-editar-photo
	display flex
	justify-content space-around
	&>img
		width 160px
		height 160px
		padding 10px
		background-color #f1f1f1
.perfil-editar-photo__button
	display flex
	justify-content space-around
	margin-top 1.5rem
.textarea-bio
	resize none
.bio-self
	font-size 0.9em
	padding 5px 10px
.bio-self:hover
	cursor pointer
	background-color #f1f1f1
	border-radius 3px
.bio-self-text
	font-size .9em